<div id="create-todo-view" data-role="view" data-id="create-todo-view"
    data-layout="main-layout" data-title="Business"
    data-transition="slide"
    data-after-show="app.createTodo.init">
    <fieldset>
        <legend>To Do</legend>
        <span class="validationError"></span>
        <lable for="title-fld">Title</lable>
        <br />
        <input data-bind="value: title" type="text" name="title" value="" placeholder="Title" id="title-fld" data-bind="value: title" class="k-textbox" />
        <br />
        <lable for="description-fld">Description</lable>
        <br />
        <textarea name="description" id="description-fld" rows="5" data-bind="value: description" class="k-textbox"></textarea>
        <br />
        <lable for="date-fld">Date</lable>
        <br />
        <input id="datepicker" name="todoDate" data-bind="value: todoDate" /><br />
        <br />
        <a data-role="button" data-bind="events: { click: createButton }" class="k-button-expand">Create</a>
    </fieldset>

    <script>
        $("#datepicker").kendoDatePicker({
            animation: false,
        });
</script>
</div>
